* {
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    font-family: 'Roboto', sans-serif;
}

.login-logo {
    display: block;
    height: 100px;
}

.sidenav-azul {
    background: #5ea1db;
    background-size: cover;
}

.sidenav-azul .sb-sidenav-menu-heading {
    color: #000;
}

.sidenav-azul .sb-sidenav-menu .nav .nav-link {
    color: #f3f3f3bf;
}

.sidenav-azul .sb-sidenav-menu .nav .nav-link:hover {
    color: #fff;
}

.sidenav-azul .sb-sidenav-footer {
    background-color: #22275c;
    color: #fff;
}

.navbar-azul {
    background: #343c89;
    color: #fff;
}

.navbar-azul .nav-link,
.navbar-brand {
    color: #fff;
}

#sidebarToggle {
    color: #fff;
}

.form-cadastro {
    background-color: #d4d4d4;
    padding: 15px;
    border-radius: 7px;
    margin-top: 10px;
}

.buttons-cadastro {
    margin: 15px;
    padding: 15px;
}

.titulo-modulo {
    font-weight: bold;
    color: rgb(16, 70, 114);
}